
*.pyc

.DS_Store
.sconsign.dblite
/*.iml
/.idea/

/dist
/pdagenttest/test_db/
/pdagenttest/test_queue/
/target/
/tmp/

/.vagrant/

/target/

/build-linux/gnupg/
/build-linux/data/
/build-linux/target/

