
*.pyc

.DS_Store
.sconsign.dblite
/*.iml
/.idea/

/dist
/unit_tests/test_db/
/unit_tests/test_queue/
/target/
/tmp/

/.vagrant/

/target/

/build-linux/data/
/build-linux/gnupg/
/build-linux/gpg-deb/
/build-linux/gpg-rpm/
/build-linux/target/

